@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
html {
	scroll-behavior: smooth;
	scroll-padding-top: 130px;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}